body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    text-align: center;
    position: relative;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    max-width: 500px;
    padding: 1rem;
  }
  
  .icon {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: rgb(45, 213, 235);
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
  
  input {
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-color: black;
    background-color: rgb(217, 214, 214);
    border-radius: 0.375rem;
    width: 100%;
    box-sizing: border-box;
    margin: 0 30px;
  }
  
  button {
    padding: 0.75rem;
    border: black;
    width: 100%;
    cursor: pointer;
  }
  
  button.bg-blue {
    border: 2px solid black;
    background-color: #3bc1f6;
    color: white;
  }
  
  button.bg-green {
    border: 2px solid black;
    background-color: #39ef25;
    color: white;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  p {
    margin-top: 1rem;
  }
  
  .forgot-password {
    padding-bottom: 3px;
    color: #081eeb;
    padding-left: 80px;
  }
  
  .link {
    color: #10b981;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .divider {
    width: 100%;
    height: 1px;
    background-color: gray;
    margin: 1rem 0;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    border-top: 2px solid black;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    margin-bottom: 1rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
    margin: 0 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .form-group.center {
    grid-column: span 2;
    text-align: center;
    margin: 0 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  